@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
 }

.html.body {
  font-family: Poppins, sans-serif;
}

.blue {
  color: #6070ff;
}

.head {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  min-height: 10vh;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.header.head {
  font-size: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header.head a {
  text-decoration: none;
  color: #6070ff;
}

main {
  margin: 0 auto;
  height: 40px;
  padding: 3px 5px;
}

.bruw {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.menu {
  padding: 3px 5px;
}

.navigation_option {
  display: none;
  row-gap: 60px;
  background-color: #fff;
}

.#toppart {
  display: grid
  row-gap: 60px;
}

#toppart h1 {
  display: grid;
  row-gap: 25px;
  background-color: #fff;
}

.toolbar {
  height: calc( 100vh - 48px);
  padding-top: 114px;
  background-size: 100% 100%;
  flex-direction: column;
  display: flex;
  background-repeat: no-repeat;
  background-image: url("images/background.svg");
}

.toolbar h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin: 0;
}

.toolbar > a {
  font-family: 'Poppins', snas-serif;
  fotn-style: normal;
  font-size 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #344563;
  font-weight: 400;
  background: #fff;
  font-style: normal;
  line-height: 24px;  
}

.middle {
  padding: 20px;
  background: #fff;
  margin-right: 10px;
  display: column;
}  

.blu {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normls;
  color: #6070ff;
}

.socials {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0 24px;
}

.link a {
  width: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.link a:hover {
  color: #172b4d;
}

.astaricks {
  max-width: 100%;
}

.contruct {
  margin: 25px 0;
  display: grid;
  row-gap: 25px;
  padding: 10px;
  background: #e5e5e5;
  justify-items: center;
}

.topic {
  background: #fff;
  border-radius: 10px;
  min-height: 3em;
  border: 1px solid #c6c6c6;
  padding: 20px 15px;
  display: grid;
}

.topic2 {
  background: #fff;
  border-radius: 10px;
  min-height: 3em;
  border:1px solid #c6c6c6;
  padding: 20px 15px;
  display: grid;
}

.topic3 {
  background: #fff;
  border-radius: 10px;
  min-height: 3em;
  border:1px solid #c6c6c6;
  padding: 20px 15px;
  display: grid;

.topic4 {
  background: #fff;
  border-radius: 10px;
  min-height: 3em;
  border:1px solid #c6c6c6;
  padding: 20px 15px;
  display: grid;

.summary {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.summary img {
  max-width: 100%;  
}

.instruction {
  grid-column: 1/-1;
  align-self: center;
  padding: 10px;
}

.employed {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 10px 0;
  color: #172b4d;
  font-size: 32px;
  line-height: 80px;
}

.mission {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  overflow: hidden;
  color: #7a869a;
}

.body {
  margin: 10px 0;
  padding: 10px 0;
  color: #344563;
  font-family: Poppins, sans-serif;
}

.code_use {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.code_use > li {
  padding: 8px;
  list-style: none;
  color: #6070ff;
  border-radius: 8px;
  margin-right: 8px;
  background: #ebebff;
  font-size: 14px;
  line-height: 16px;
}

.tapbutton {
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  color: #396df2;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
}

.tapbutton {
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  color: #396df2;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
}

a:disabled:hover {
  background: #fff;
  color: #5e6c84;
}

.information {
  display: grid;
  row-gap: 15px;
  padding: 0 15px;
}

.boldtext {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.arrowkey {
  width: 10px;
  height: 10px;
  overflow: hidden;
}

.duck {
  width: 10px;
  height: 14px;
  overflow: hidden;
}

#container {
  display: flex;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  background-size: contain;
  border-top-left-radius: 70px;
  background-repeat: no-repeat;
  background-position: bottom -1px right -13px;
  background-image: url("./images/contact\ form\ background\ shapes.svg");
  background-color: #6070ff;
  border: 24px;
}

.obtainer {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding 10px;
  color: #253858;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  background: #f7f7f9;
  margin: 10px;
  border-radius: 8px;
}

.obtainer img {
  width: 40px;
  margin-right: 20px;
  height: auto;
  max-width: 100%;
}

.form-heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 103px;
}

.form-par {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  line-height: 28px;
  text-align: center;
  background: #6070ff;
  border-radius: 10px;
}

.name {
  color: #fff;
  margin-top: 20px;
  padding: 120px;
  background-top-left-radius: 70px;
  background-repeat: no-repeat;
  background-position: bottom -1px right -13px;
  background-image: url("images/contact\ form\ background\ shapes@2x.svg");
  background-color: #6070ff;
  font-family: 'Poppins'd, sans-serif;
  width: 50%;
  margin-left: 25%;   
}

.dubbed {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52;
  margin-top: 103px;
}

#clickin {
  border: none;
  display: flex;
  flex-direction: column;
  align-item: center;
  justify-content: center;
  width: 109%;
  margin: 20px 0;
  font-size: 20px;
  padding: 10px;
  color: #172b4d;
  line-height: 20px;
  border-radius: 10px;
}

.clickin:focus {
  border: 1px solid #172b4d;
}

#textbox {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: normal;
  line-height: 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #fff;
  min-height: 140px;
  padding: 10px;
  margin: 10px 0;
}

.button_sent {
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 10px 0;
  align-self: center;
  border: 1px solid #fff;
}

.button_sent:hover {
  color: #fff;
  background: #6070ff;
}

.details {
  padding: 8px;
  margin: 0 auto;
}
  
.centerbutton {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px
}

#wrapper {
  max-width: 1050px;
  margin: 60px auto 60px auto;
  background-color: #fff;
  }

#inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}
  
.about_myself {
  font-family: 'Poppins', sans-serif;
  font-style: noraml;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  color: 172b4d;
  line-height: 52px;
  position: relative;
  
  
@media screen and (min-width: 768px) {
  .header {
    padding: 0 50px;
  }

  .header_menu {
    display: none;
  }

  .nav_items {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: row;
  }

  .headline {
    min-height: 916px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex;
    margin-left: 100px;
  }

  .headline_container {
    align-self: center;
    justify-self: center;
    max-width: 920px;
  }

  .work {
    margin: 25px 100px;
  }

  .work_card {
    display: flex;
    flex-direction: row;
  }

  .work_card:nth-child(even) .work_preview {
    order: 2;
  }

  .work_details {
    margin-left: 15px;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    padding: 25px 50px;
  }

  .about_framework {
    margin-top: 60px;
  }

  .frameworks_items {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .ul_item {
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    height: 120px;
  }

  .ul_item img {
    margin-bottom: 15px;
  }

  .CONTACT_form {
    display: flex;
    background-position: initial;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form_container {
    width: 500px;
    justify-self: center;
  }
}
